@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');


:root{
    --cor1: #5BDF7C;
    --cor2: #12A637;
    --cor3: #12A637;
    --cor4: #0A591E;
    --cor5: #545C56;
    --font-padrao: 'Kaisei Tokumin', serif; 
    --font-destaque: 'Azeret Mono', monospace;
}

*{
    padding: 0px;
    margin: 0px;
    
}

header > h1{
    text-shadow: 2px 2px 0px black;
    color: white;
    text-align: center;
    font-family:var(--font-destaque);
    font-weight: bolder;
    font-size: 30pt;
    margin-bottom: 20px;
}
header > p{
    text-shadow: 2px 2px 0px black;
    color: white;
    text-align: center;
    font-family:var(--font-destaque);
    font-size: 12pt ;
    max-width: 500px;
    margin: auto;

}
nav{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.486); 
    text-align: left;
    padding: 10px;
    background-color: var(--cor3);
    text-shadow: black;
    color: white;
    margin-top: 10px;
    
    
}
nav > a{
    color: white;
    font-family:var(--font-padrao);
    font-weight: bolder;
    text-decoration: none;
}
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    padding-top: 40px;
}
body{
    background-color: var(--cor4);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    font-family: var(--font-padrao);
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main > h3{
    background-image: linear-gradient(to right, var(--cor3), white);
}
main img{
    width: 100%;
}
main img.pequena{
    width: 350px;
    display: block;
    margin: auto;
}
div.video{
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer{
    background-color: var(--cor5);
    color: black;
    font-family: var(--font-destaque);
    font-size: 9pt;
    text-align: center;
}